::-moz-selection { color: none; background: none; }
::selection { color: none; background: none; }

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    overflow: hidden;
    cursor: crosshair;
    overflow: hidden;
    
}

body{
    background: rgb(0,0,0,0.05);
}
a {
    background: white;
    display: inline-block;
    position: absolute;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    animation: fadeIn ease-in 0.5s;
    -webkit-animation: fadeIn ease-in 0.5s;
    -moz-animation: fadeIn ease-in 0.5s;
    -o-animation: fadeIn ease-in 0.5s;
    -ms-animation: fadeIn ease-in 0.5s;
  }
  @keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }

.hide {
    opacity: 0;
    transition: opacity 1000ms;
}