* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    overflow: hidden;
}
body{
    background: rgb(0,0,0,0.05);
}
div {
    background: white;
    display: inline-block;
    position: absolute;
    padding: 4px 8px;
}
